<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<title><%= title %></title>-->
<!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
<!--</head>-->
<!--<body>-->
<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->
<!--<div id="wrapper">-->

<!--</div>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js"></script>-->
<!--<% if (env !== "production") { %>-->

<!--<script src="/dist/common.js"></script>-->
<!--<script src="/reload/reload.js"></script>-->
<!--<% } %>-->
<!--</body>-->
<!--</html>-->