<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Multiplayer online blog</title>
    <!--<link rel="stylesheet" href="/css/style.css?v=1">-->
    <% if (env !== "production") { %>
        <link rel="stylesheet" href="http://127.0.0.1:9090/bundle.css">
    <% } else {%>
        <link rel="stylesheet" href="/dist/bundle.css">
    <% } %>
    <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
</head>
<body>



