/**
 * [input组件公共样式]
 * @param  {[type]} c [description]
 */
@mixin horizontal-input-normal(){
  border: 1px solid #eceaea;
  resize: none;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition:border .1s linear,box-shadow .1s linear;
}
/**
 * [type='text'样式]
 * @param  {[height]} c [高度]
 * @param  {[lineHeight]} c [行高]
 */
@mixin horizontal-input-text($height:20px,$lineHeight:20px){
  @include horizontal-input-normal();
  height: $height;
  line-height: $lineHeight;
  padding: 5px 10px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition:border .1s linear,box-shadow .1s linear;
}
/**
 * [text发生focus事件的效果]
 */
@mixin input-text-focus(){
  border-color: #55abed;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1),0 0 8px rgba(116,197,238,.6);
}
/*
  textarea样式
*/
@mixin horizontal-textarea($width:200px,$height:100px){
  width: $width;
  height: $height;
  padding: 5px 10px;
  @include horizontal-input-normal();
}
/*
  button样式
*/
@mixin horizontal-button($width:100px,$height:36px){
  width: $width;
  height: $height;
  cursor: pointer;
  text-align :center;
  font-size: 14px;
  //padding: 10px 20px;
  line-height: 36px;
  color: #666;
  background-color: #ededed;
  border: 0 none;
  border-radius: 2px 2px;
  transition:background-color .3s ease-out;
  @include horizontal-input-normal();
}
.button{
  @include horizontal-button();
  &:hover{
    color: #666666;
    background-color:#e0e0e0;
  }
}
.button-primary{
  @include horizontal-button();
  color: #ffffff;
  background-color: #31afee;
  &:hover{
    background-color: #19a6ec;
  }
}
