
.article-post{
  background-color: #ffffff;
  .article-header{
    border-left:5px solid #4d4d4d;
    padding: 30px 0 15px 25px;
    padding-left: 7.6923%;
    .article-title{
      color: #696969;
      margin-left: 0;
      font-weight: 300;
      line-height: 35px;
      margin-bottom: 20px;
      font-size: 26px;
      transition: color .3s;
      cursor : pointer;
    }
  }
  .article-entry{
    display: block;
    line-height: 1.8em;
    padding-right: 7.6923%;
    padding-left: 7.6923%;
    max-height: 200px;
    overflow: hidden;
    .info{
      cursor: pointer;
    }
    h4{
      margin-top: 20px;
      font-weight : 700;
      color: #574c4c;
      padding-bottom: 5px;
      border-bottom:1px solid #ddd;
    }
    p{
      margin-top: 10px;
      margin: 0 0 1.75em;
    }
    blockquote{
      border-left: 2px solid #4d4d4d;
      background-color: #f6f6f6;
      color: #555;
      font-size: 1em;
      p{
        padding: 10.5px 21px;
      }
    }
  }
  .article-info{
    padding-left: 20px;
    margin: 30px 7.6923% 0;
    margin-bottom: 30px;
    min-height: 72px;
    border-top: 1px solid #ddd;
    text-align: right;
    button{
      margin: 10px 20px;
    }
  }
  .more-icon-wrap{
    margin: 20px 0;
    padding-right: 7.6923%;
    padding-left: 7.6923%;
    .more-icon{
      line-height: 16px;
      font-size: 12px;
      color: #ffffff;
      background-color: #4d4d4d;
      padding: 4px 8px 4px;
      border-radius : 3px;
      transition : background .3s;
      cursor: pointer;
    }
  }
  .main-article-entry{
    max-height: inherit;
  }
  //pre{
  //  font:12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  //  padding: 16px;
  //  margin-bottom: 20px;
  //  overflow: auto;
  //  font-size: 80%;
  //  line-height: 1.45;
  //  background-color: #f7f7f7;
  //  border-radius: 3px;
  //}
  ul,li{
    list-style: inherit;
    margin: .3em 26px;
  }
  hr{
    margin: 1.5em auto;
    border-top: 2px dotted #eee;
  }

}
