.form-style{
  width: 290px;
  margin: 100px auto;
  border: 1px solid #dddddd;
  box-shadow: #ddd 1px 1px 9px 2px;
  input{
    width: 175px;
    height: 44px;
    background-color:#fff;
    box-sizing : border-box;
    padding: 1em .8em;
    border: 1px solid #eceaea;
    outline:none;
    -webkit-transition:border .2s linear,box-shadow .2s linear;
    &:focus{
      border: 1px solid #31afee;
      box-shadow: inset 0 1px 3px rgba(0,0,0,.1),0 0 8px rgba(116,197,238,.6);
    }
  }
  .item-input{
    width: 290px;
    margin: 30px auto;
    text-align: center;
    .submit-button{
      font-family: Helvetica Neue,Helvetica,Tahoma,Microsoft Yahei;
      width: 87%;
      font-size: 1rem;
      background: #4d4d4d;
      box-shadow: none;
      border: 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      line-height: 41px;
      color: #ffffff;
      outline: none;
      cursor: pointer;
      -webkit-transition:background .1s linear,box-shadow .1s linear;
      &:hover{
        opacity: .8;
      }
    }
  }
  .item-pass{
    display: inline-block;
    width: 64px;
    text-align: right;
  }
}