#wrapper{
  position: relative;
  min-height: 100%;
}
nav{
  background-color: #ffffff;
  width: 300px;
  position: fixed;
  opacity: 1;
  transition: all .2s ease-in;
  height: 100%;
  z-index: 999;
  a{
    display:block;
    text-decoration:none;
    padding:.7em 1em;
    color:#4d4d4d;
    text-align: center;
    &:hover{
      background-color:#eaeaea;
      color:#4d4d4d;
      -webkit-transition:color .2s linear;
      text-decoration: none;
    }
  }
}
.main-article{
  position: absolute;
  margin: 30px;
  right: 0;
  min-height: 100%;
  left: 300px;
  width: auto;
  transition: all .2s ease-in;
  font-size: 16px;
  .article-inner{
    border-color : #d1d1d1;
  }
}
.active{
  background-color: #4d4d4d;
  color: #fff;
}