@import "common";
///*添加padding变量*/
$padding: 20px !default;
.form-col{
  .post-title{
    display: block;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    }
  .form-text-style{
    @include horizontal-input-text();
    &:focus{
      @include input-text-focus();
    }
  }
  .post-body{
    @include horizontal-textarea(550px,300px);
    &:focus{
      @include input-text-focus();
    }

  }
}
.text-center{
  text-align: center;
  margin: $padding;
}

